/* GLOBALS */
body, html { font-family: 'Josefin Sans', serif !important;}

h1,h2,h3,h4,h5,h6{ font-family: 'Josefin Sans', serif !important;}

.bgColor-white{background-color: #ffffff !important;}
.bgColor-black{background-color: #000000 !important;}
.bgColor-secondaryBlack{background-color: #333333 !important;}
.bgColor-yellow{background-color: #f48e21 !important;}
.bgColor-grey{background-color: #e2e2e2 !important;}


/* CUSTOM MARGIN & PADDING & BORDER */
.no-border{border: 0 !important;}
.border-radius-tl{border-top-left-radius: 3px !important;}
.border-radius-bl{border-bottom-left-radius: 3px !important;}
.border-radius-tr{border-top-right-radius: 3px !important;}
.border-radius-br{border-bottom-right-radius: 3px !important;}
.border-radius-3{border-radius: 3px !important;}

.no-margin{margin: 0 !important;}
.no-margin-bottom{margin-bottom: 0 !important;}
.margin-top-10{margin-top: 10px !important;}
.margin-top-20{margin-top: 20px !important;}
.margin-top-50{margin-top: 50px !important;}
.margin-left-1rem{margin:0 0 0 1.1rem !important;}

.no-padding{padding: 0 !important;}
.padding-tb-15{padding: 15px 0;}
.padding-20{padding: 20px;}
.padding-tb-20{padding: 20px 0;}
.padding-40{padding: 40px;}
.padding-tb-40{padding: 40px 0;}
.padding-tb-60{padding: 60px 0;}
.padding-r-15{padding-right: 15px;}
.padding-r-4em{padding-right: 4em !important;}
.padding-t-75{padding-top:75px !important;}
.padding-tb-90{padding:90px 0 !important;}


.small-only-padding-lr-20{
  @media only screen and (max-width: 40em) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.small-only-padding-tb-40{
  @media only screen and (max-width: 40em) {padding: 40px 0 !important;}
}
.small-only-padding-tb-60{
  @media only screen and (max-width: 40em) {padding: 60px 0 !important;}
}


/* CUSTOM FONT COLORS & FONT-SIZE*/
.white-color{color: #ffffff !important;}
.dark-grey-color{color: #757171 !important;}

.font-18{
  font-size: 18px !important;
  font-weight: bold;
}
.font-20{font-size: 20px !important;}

.small-only-font-16{
  @media only screen and (max-width: 40em) {font-size: 16px !important;}
}


.row{
  max-width:75rem;
  width: 100%;
  margin: 0 auto;
}

.submit-btn{
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {width: 100%;}
  @media only screen and (max-width: 40em) {width: 100%;}
}

.submit-btn,.know-more-btn{
  padding: 5px 25px;
  display: inline-block;
}

.enquiry-btn{
  display: none;
  line-height: 45px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.65s ease-in-out;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {line-height: 55px;}
  @media only screen and (max-width: 40em) {line-height: 49px;}
}

.valign-wrapper{
  display: flex;
  align-items: center;
}

.valign{
  display: block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.hide{
  display: none;
  opacity: 0 !important;
  transition: all 0.65s ease-in-out;
  visibility: hidden !important;
}

.visible{
  display: block;
  opacity: 1 !important;
  transition: all 0.65s ease-in-out;
  visibility: visible !important;
}
/* END GLOBALS */


/* Header */
.divByZ-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  .head-title {
    h5 {
      line-height: 45px;
      @media only screen and (min-width: 40.063em) and (max-width: 64em) {line-height: normal;}
      @media only screen and (max-width: 40em) {line-height: normal;}
    }
  }
}


/* HomePage */
.landing-page{
  min-width:100%;
  height: 100%;
  position: relative;

  .section {
    width: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &.section-1 {
      background-image: url("/images/dbz-1.jpg");
    }

    &.section-3 {
      background-color: #EEEEEE;
      background-image: url("/images/dbz-2.jpg");

      @media only screen and (max-width: 40em) {background-position-x: 0% !important;}

      .section-content{
        .fa-li{left: -1.5em !important;}
      }
    }
  }

  .section-2{
    .section-content{

      ul.list-items{
        list-style-position: inside;
      }

      .testimonial-slider{
        width: 90%;
        margin: 0 auto;
        .testimonial-slide{
          outline: 0 !important;
          .slider-img{
            img{
              display: block;
              //width: 100%;
              //padding: 1px;
              border: 2px solid #333333;
            }
          }
        }

        .nav-prev,.nav-next {
          position: absolute;
          top: calc(50% - 20px);
          padding: 10px;
          cursor: pointer;
          z-index: 1;
          background-color: #000;
          opacity: 0.5;
          text-align: center;
          border-radius: 50%;
          width: 40px;
          height: 40px;

          i {
            color: #FFFFFF;
            font-size: 23px;
          }
        }
        .nav-prev {
          left: -50px;
          @media only screen and (min-width: 40.063em) and (max-width: 64em) {left: -20px;}
          @media only screen and (max-width: 40em){left: -20px;}
        }
        .nav-next {
          right: -50px;
          @media only screen and (min-width: 40.063em) and (max-width: 64em) {right: -20px;}
          @media only screen and (max-width: 40em){right: -20px;}
        }
      }
    }
  }
  
  .section-4{
    width: 100%;
    min-height: 40%;
    background-image: url("/images/dbz-bg.jpg");
    background-repeat:repeat;
    background-position: center;
    background-size: contain;
  }
}


/* Modal */
.reveal-modal-bg{
  background-color: rgba(0, 0, 0, 0.75) !important;
  position: fixed !important;
  top: 0 ;
  left: 0 ;
  right: 0 ;
}
.reveal-modal{
  width: 40%;
  position: fixed;
  top: 6.25rem !important;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    width: 75%;
    top: 0 !important;
  }
  @media only screen and (max-width: 40em) {
    width: 100%;
    top: 0 !important;
  }
}


/* THANK YOU PAGE */
.thankYou-page{
  min-width: 100%;
  height: 100%;
  
  .section-a{
    width: 100%;
    min-height:100%;
    background-image: url("/images/thank.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .section-content{padding: 15% 0;}

  }
}
